<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tuberculosis Diagnostic</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="{{url_for('static', filename='img/disease2page.png')}}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>
  <section id="top-section" class="top-section">
    <div class="bg-colo">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{url_for('index')}}"><img
                  src="{{url_for('static', filename='img/logo.svg')}}" class="img-responsive"
                  style="height: 70px; width: auto; margin-top: -27px;"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('index')}}">Home</a></li>
                <li class=""><a href="{{url_for('disease')}}">Disease</a></li>
                <li class=""><a href="{{url_for('breastcancer')}}">Breast</a></li>
                <li class=""><a href="{{url_for('diabetes')}}">Diabetes</a></li>
                <li class=""><a href="{{url_for('covid19')}}">Covid-19</a></li>

              </ul>
            </div>

          </div>

        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="top-section-info">
           
             
                <fieldset>
                  

                    <form action="/tb" method="POST" enctype="multipart/form-data">
                      <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4 inputGroupContainer">
                      <b>
                        <p style="display:flex; color:#d53139; font-size: 22px; justify-content: center;">TB Diagnostic
                        </p>
                      </b>
                    </div>
                  </div>
                      <div class="contain">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label class="control-label"></label>
                              <div class="preview-zone hidden">
                                <div class="box box-solid">
                                  <div class="box-header with-border">
                                    <div><b>Preview</b></div>
                                    <div class="box-tools pull-right">
                                      <button type="button" class="btn btn-danger btn-xs remove-preview">
                                        <i class="fa fa-times"></i> Reset
                                      </button>
                                    </div>
                                  </div>
                                  <div class="box-body"></div>
                                </div>
                              </div>
                              <div class="dropzone-wrapper">
                                <div class="dropzone-desc">
                                  <i class="glyphicon glyphicon-download-alt"></i>
                                  <p>Choose X-ray image file or drag it here.</p>
                                </div>
                                <input type="file" name="file" class="dropzone">
                              </div>
                            </div>
                          </div>
                        </div>
                  
                        <div class="col-md-4">
                          <button type="submit" class="btn-custom">Predict <span
                              class="glyphicon glyphicon-send"></span></button>
                        </div>

                        <h3 style="color: rgba(6, 58, 82, 0.78); margin-top: 10px;">{{prediction}}</h3>
                      </div>
                      
                      
                      
                </div>
                    </form>
                 
                  
                 
                </fieldset>
              
            
          </div>
        </div>
      </div>
    </div>

  </div>


  </section>

  <!--about-->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="section-title">
            <h2 class="head-title lg-line">Tuberculosis <br>Diagnostic</h2>
            <hr class="botm-line">
            <p class="sec-para">The bacteria that cause TB are spread when an infected person coughs or sneezes.
              Most people infected with the bacteria that cause tuberculosis don't have symptoms. 
              When symptoms do occur, they usually include a cough (sometimes blood-tinged), weight loss, 
              night sweats and fever. Treatment isn't always required for those without symptoms. 
              Patients with active symptoms will require a long course of treatment involving multiple antibiotics.</p>

          </div>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <div style="visibility: visible;" class="col-sm-9 more-features-box">
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Symptoms</h3>
                <ul>

                  <li>1. Pain in Chest</li>
                  <li>2. Pain while breathing</li>
                  <li>3. Cough: can be chronic or with blood</li>
                  <li>4. Whole body: fatigue, fever, loss of appetite, malaise, night sweats, or sweating</li>
                  <li>5. Chest Loss of muscle</li>
                  <li>6. Shortness of breath</li>
                </ul>


              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Prevention</h3>
                <ul>
                  <li>1. Always cover your mouth with a tissue when you cough or sneeze</li>
                  <li>2. Wash your hands after coughing or sneezing</li>
                  <li>3. Don't visit other people and don't invite them to visit you.</li>
                </ul>

              </div>
            </div>
            <div class="more-features-box-text">
              <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
              <div class="more-features-box-text-description">
                <h3>Treatment</h3>
                <ul>
                  <li>1. The usual treatment is: 2 antibiotics (isoniazid and rifampicin) for 6 months.</li>
                  <li>2. 2 additional antibiotics (pyrazinamide and ethambutol) for the first 2 months of the 6-month treatment period.</li>
                </ul>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/custom.js')}}"></script>
</body>

</html>